{% extends 'base.html.twig' %}

{% block title %}Modifier le Service{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Modifier le Service</h2>

    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.photo) }}
        {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}
</div>
{% endblock %}
