{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Liste des Habitats</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for habitat in habitats %}
                    <tr>
                        <td>{{ habitat.id }}</td>
                        <td>{{ habitat.nom }}</td>
                        <td>{{ habitat.description }}</td>
                        <td>
                            <a href="{{ path('habitats_edit', {'id': habitat.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                            <form action="{{ path('habitats_delete', {'id': habitat.id}) }}" method="post" style="display:inline-block;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ habitat.id) }}">
                                <button class="btn btn-danger btn-sm" type="submit">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('habitats_new') }}" class="btn btn-success">Ajouter un Habitat</a>
    </div>
{% endblock %}
