{% extends 'base.html.twig' %}

{% block title %}Modifier un Animal{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Modifier l'animal : {{ animal.nom }}</h1>

    {{ form_start(form) }}  {# Utilise form_start pour débuter le formulaire #}
    
        <div class="form-group">
            <label for="animal_nom">Nom de l'animal</label>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="animal_race">Race</label>
            {{ form_widget(form.race, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="habitat">Habitat</label>
            {{ form_widget(form.habitat, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="animal_sante">État de santé</label>
            {{ form_widget(form.etatDeSante, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="animal_alimentation">Alimentation</label>
            {{ form_widget(form.alimentation, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
        <label for="animal_images">Images</label>
        <div id="image-collection">
            {% for imageField in form.images %}
                <div class="input-group mb-2">
                    {{ form_widget(imageField, {'attr': {'class': 'form-control'}}) }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger" type="button" onclick="removeImageField(this)">Supprimer</button>
                    </div>
                </div>
        {% endfor %}
        <button class="btn btn-outline-primary mt-2" type="button" onclick="addImageField()">Ajouter une image</button>
        </div>
        </div>


        <div class="d-flex justify-content-between mt-3">
            <button type="reset" class="btn btn-outline-secondary">Réinitialiser</button>
            <button type="submit" class="btn btn-warning">Modifier</button>
        </div>

    {{ form_end(form) }} {# Utilise form_end pour clôturer le formulaire #}
</div>
{% endblock %}
